counter, .counter {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),
    0  6px 20px 0 rgba(0,0,0,0.19) !important;
    margin: 15px;
}

.counter .label {
    font-size: 1em;
    text-align: center;
    width: 90%;
}

.counter .value {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    width: 90%;
}